@import './base.css';

@headerHeight: 60px;
@sideWidth: 210px;
@breadcrumbsHeight: 30px;

.layout {
  width: 100%;
  header {
    height: @headerHeight;
    color: #fff;
    background-color: #242f42;
  }
  main {
    height: calc(100vh - @headerHeight);
    position: relative;
    aside {
      position: absolute;
      width: @sideWidth;
      height: 100%;
      background-color: #324157;
    }
    .container {
      position: absolute;
      left: @sideWidth;
      top: 0;
      bottom: 0;
      right: 0;
      .breadcrumbs {
        height: @breadcrumbsHeight;
      }
      .content {
        width: 100%;
        height: calc(100% - @breadcrumbsHeight);
        padding: 10px;
        background-color: #f0f0f0;
        overflow: auto;
      }
    }
  }
}

nav .router-link-active {
  background-color: #1890ff;
  color: #fff !important;
}
